*,
*::after,
*::before {
    box-sizing: border-box;
    /* color: black; */
}

:root {
    --cardBlue: rgb(96, 96, 216);
    --containerBackground: #e6e6e6;
}
body {
    margin: 0;
}

.brand {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(121, 121, 121);
    margin: 0;
}

.uv-index-fig {
    padding: 0.375rem 0.75rem;
    border-radius: 6px;
}

.uv-low {
    background-color: green;
}
.uv-mid {
    background-color: yellow;
}
.uv-high {
    background-color: red;
}

.container {
    display: flex;
    flex-direction: column;
}

.sidebar-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.city-search-container {
    display: flex;
    flex-direction: column;
}
.city-search-label {
    margin: 0.75rem 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.search-container {
    display: flex;
    flex-direction: row;
}

.city-search-button {
    height: 2.5rem;
    border-radius: 6px;
    background-color: var(--cardBlue);
    border: 1px solid lightgrey;
    flex: 1 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-icon {
    max-width: 75%;
    max-height: 75%;
    /* filter edits the properties of images */
    /* i am inverting to turn the black svg to white */
    filter: invert(100%);
}
.city-search-input {
    height: 2.5rem;
    flex: 3 1 80%;
    border-radius: 5px;
    border: 1px solid grey;
}

/* MAIN CONTENT */
.content-container {
    display: flex;
    flex-direction: column;
}

.current-city-weather {
    background-color: var(--containerBackground);
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid lightgrey;
    font-size: 20px;
}
.card-forcast-container {
    border-radius: 6px;
    background-color: var(--containerBackground);
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    /* flex-basis: 40%; */
}

.forecast-card {
    /* flex: 1 1 15%; */
    color: white;
    margin: 1rem;
    border-radius: 6px;
    background-color: var(--cardBlue);
    padding: 1rem;
}
.forecast-header {
    margin-left: 1rem;
}

.figure {
    display: none;
}

.city-selection-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.city-button {
    font-size: 20px;
    border-radius: 6px;
    border: 1px solid lightgrey;
    padding: 0.75rem;
}

@media screen and (min-width: 768px) {
    .container {
        flex-direction: row;
    }
    .sidebar-container {
        flex: 1 1 20%;
    }
    .content-container {
        flex: 1 1 80%;
    }

    .card-forcast-container {
        flex-direction: row;
        justify-content: space-evenly;
    }
}
